## bike-stats
By: Rawnaq Aburumman Date: 15\11\2021

##   What is the average trip duration for a borrowed bicycle??

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [13]:
df_trip = pd.read_csv('./assests/trip.csv',error_bad_lines=False)
df_whether = pd.read_csv( "assests/weather.csv")
df_station = pd.read_csv('assests/station.csv')

/home/rawnaq/401/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

##  What is the average trip duration for a borrowed bicycle?

In [3]:
trip_duration_average=df_trip['tripduration'].mean()
trip_duration_average

1178.2956753399776

### What's the most common age of a bicycle-sharer?

In [4]:
average_age = df_trip["birthyear"].mean()
average_age = 2021 - average_age
average_age

41.240937907938815

 ### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [25]:
df_whether["Month"]=pd.DatetimeIndex(df_whether["Date"]).month
df_whether["Year"]=pd.DatetimeIndex(df_whether["Date"]).year
avgerage_preciption=df_whether[['Precipitation_In',"Month",'Year']].groupby(['Year','Month']).mean()
median_preciption=df_whether[['Precipitation_In',"Month",'Year']].groupby(['Year','Month']).median()
avgerage_preciption, median_preciption

(            Precipitation_In
 Year Month
 2014 10             0.300526
      11             0.141667
      12             0.145161
 2015 1              0.070645
      2              0.163214
      3              0.135161
      4              0.056667
      5              0.014194
      6              0.005667
      7              0.008710
      8              0.035484
      9              0.041000
      10             0.120645
      11             0.234000
      12             0.327419
 2016 1              0.216452
      2              0.173448
      3              0.178710
      4              0.046000
      5              0.010645
      6              0.055333
      7              0.015484
      8              0.000968,
             Precipitation_In
 Year Month
 2014 10                0.140
      11                0.010
      12                0.010
 2015 1                 0.010
      2                 0.025
      3                 0.000
      4                 0.000
      5                 0.000
      6                 0.000
      7                 0.000
      8                 0.000
      9                 0.000
      10                0.010
      11                0.065
      12                0.120
 2016 1                 0.070
      2                 0.080
      3                 0.060
      4                 0.000
      5                 0.000
      6                 0.000
      7                 0.000
      8                 0.000)

### What's the average number of bikes at a given bike station?

In [6]:
average_number_bikes= round(df_station['install_dockcount'].mean())
average_number_bikes

18

## When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [17]:


x=df_station[["modification_date","install_dockcount"]].dropna()
y=x["install_dockcount"].sum()- df_station["install_dockcount"].sum()
y

-722

## 6. Come up with 3 more questions that can be answered with this data set.

1. ascending install_date and give me first 20 cells with name

In [18]:
first = df_station[["name", "install_date"]].sort_values('install_date', ascending=False).head(20)
first

                                                 name install_date
41                              Mercer St & 9th Ave N    9/15/2015
57                    Pier 66 / Alaskan Way & Bell St     8/9/2016
55                              Thomas St & 5th Ave N     7/3/2016
5                                  Union St & 4th Ave    7/27/2015
40                             Terry Ave & Stewart St    6/12/2015
10                            12th Ave & E Yesler Way    5/22/2015
54                           Broadway and E Denny Way    3/18/2016
56                    NE Pacific St/UW Medical Center   10/29/2015
32                            Dexter Ave N & Aloha St   10/13/2014
33                     Republican St & Westlake Ave N   10/13/2014
42  Burke-Gilman Trail / NE Blakeley St & 24th Ave NE   10/13/2014
35                             Westlake Ave & 6th Ave   10/13/2014
36                                  Pine St & 9th Ave   10/13/2014
37          Lake Union Park / Valley St & Boren Ave N   10/13/2014
38                             Dexter Ave & Denny Way   10/13/2014
39                Key Arena / 1st Ave N & Harrison St   10/13/2014
34                      PATH / 9th Ave & Westlake Ave   10/13/2014
45                           NE 47th St & 12th Ave NE   10/13/2014
43                     NE 42nd St & University Way NE   10/13/2014
44                          12th Ave & NE Campus Pkwy   10/13/2014

## 2.Give me the average of birthyear?

In [19]:
avg = df_trip["birthyear"].mean()
avgr=np.round_(avg)
avg

1980.0

## 3-find the mean of current_dockcount

In [21]:
sorting_data=df_station ['current_dockcount'].mean()
sorting_data

16.517241379310345

In [26]:

def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(trip_duration_average, 1178.2956753399776)
    assert_equal(average_age, 41.240937907938815)
    assert_equal((avgerage_preciption, median_preciption), a)
  
    assert_equal(average_number_bikes ,18)


    print("Success!!!")

test()

SyntaxError: invalid syntax (1186846669.py, line 2)