
## Video Game Stats Analysis
- By: Rawnaq Aburumman
- Date: 15\11\2021

In [1]:
import matplotlib.pyplot as plt

import pandas as pd

In [2]:
df = pd.read_csv('assests/vgsales.csv')

## 1-Which company is the most common video game publisher?

In [3]:
most_common_publisher=df.Publisher.mode()[0]
most_common_publisher

'Electronic Arts'

## 2-What's the most common platform?

In [4]:
most_common_platform=df.Platform.mode()[0]
most_common_platform

'DS'

## 3-What about the most common genre?

In [5]:
most_common_genre=df.Genre.mode()[0]
most_common_genre

'Action'

 ##4-What are the top 20 highest grossing games?

In [6]:
top_twenty=df[['Name', 'Global_Sales']].head(20)
top_twenty

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## 5-For North American video game sales, what's the median? 10games

In [15]:
na_median_sales=df['NA_Sales'].median()

na_median_sales

0.08

In [25]:
top_10_games_has_median_sales=df[df['NA_Sales']==df['NA_Sales'].median()]
top_10_games_has_median_sales[['Name', 'NA_Sales']][224:236]

                                        Name  NA_Sales
9931                Spider-Man: Edge of Time      0.08
9934                        Turok: Evolution      0.08
9957                                Deadpool      0.08
9996              GT Advance 2: Rally Racing      0.08
10000                         A Witch's Tale      0.08
10012                      Nickelodeon Dance      0.08
10020               Phantasy Star Collection      0.08
10022                  LEGO Knights' Kingdom      0.08
10024     Family Game Night 4: The Game Show      0.08
10026                           NBA Jam 2002      0.08
10029               Tony Hawk's Pro Skater 5      0.08
10042  Tom Clancy's Rainbow Six: Rogue Spear      0.08

In [48]:
top_10_games_has_median_sales=df[df['NA_Sales']==df['NA_Sales'].median()]
top_10_games_has_median_sales[['Name', 'NA_Sales']][224:236]

first_item= top_10_games_has_median_sales[['Name', 'NA_Sales']][0:1]
first_item.Name

446    Dragon Warrior IV
Name: Name, dtype: object

## 6-For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?¶

In [8]:
na_normal_dist=(df['NA_Sales'][0]-df["NA_Sales"].mean())/df["NA_Sales"].std()
na_normal_dist

50.47898767479108

### 7-The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [58]:
platform_wii = df[df["Platform"]=='Wii']
platform_not_wii = df[df["Platform"]!='Wii']
platform_not_wiiall = platform_wii["Global_Sales"].mean()
average_compare_wii=platform_not_wii["Global_Sales"].mean()

average_compare_wii
print(f'not wii {average_compare_all} wii {average_compare_wii}')

not wii 0.6994037735849057 wii 0.5233896418516336

In [49]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, "Electronic Arts")
    assert_equal(most_common_platform, "DS")
    assert_equal(most_common_genre, "Action")
    assert_equal(top_twenty.iloc[0].Name, "Wii Sports")
    assert_equal(top_twenty.iloc[19].Name, "Brain Age: Train Your Brain in Minutes a Day")
    assert_equal(na_median_sales, 0.08)



 

    print("Success!!!")

test()

Success!!!

## Come up with 3 more questions that can be answered with this data set?

## 1-The mean for the EU_Sales

In [59]:
Eu_sales_mean=df['EU_Sales'].mean()
Eu_sales_mean

0.14665200626581515

## 2-  Sort the game Genre descending depends on Global Sales?

In [60]:
sort = df.sort_values(by=['Global_Sales' , 'Genre'] ,ascending=False)[['Global_Sales' , 'Genre']]
sort

       Global_Sales         Genre
0             82.74        Sports
1             40.24      Platform
2             35.82        Racing
3             33.00        Sports
4             31.37  Role-Playing
...             ...           ...
16564          0.01        Action
16567          0.01        Action
16582          0.01        Action
16583          0.01        Action
16589          0.01        Action

[16598 rows x 2 columns]

## 3- show the most recent games and genre with paltform?

In [61]:
sort = df.sort_values(by=['Year' , 'Genre'] ,ascending=False)[['Year' , 'Genre' , 'Platform']]
sort

         Year         Genre Platform
5957   2020.0    Simulation       DS
14390  2017.0  Role-Playing      PS4
16241  2017.0  Role-Playing      PSV
16438  2017.0        Action      PSV
7564   2016.0      Strategy       PC
...       ...           ...      ...
14377     NaN        Action      PSP
14696     NaN        Action      GBA
15876     NaN        Action       GC
16065     NaN        Action       XB
16493     NaN        Action      3DS

[16598 rows x 3 columns]